*{
    margin:0;
    padding: 0;
}
body{
    font-family: 'Tektur', cursive;
    background-image: linear-gradient(to left bottom, #e6e0e2, #d9d6da, #cccdd1, #bfc4c6, #b5baba);
}
.isflex{
    display: flex;
}
.dark-body{
    background-image: linear-gradient(to right top, #16182c, #202136, #292b40, #34354a, #3e4055);
}

/**/

.container-body{
    position: relative;
}
.container-header-main{
    display: flex;
    flex-direction: column;
    width: 82%;
    height: 100vh;
    flex-grow: 1;
}
.container-header{
    background-color: #b5baba;
    color:#252622;
    padding: 15px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dark-header{
    background-color: #16182C;
    color: #969c9c;
}
.title{
    font-family: 'Tektur', cursive;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}
ul{
    list-style: none;
    justify-content: center;
}
.btn-box{
    align-items: center;
    height: 40px;
    padding: 0px 8px;
    margin: 10px;
    font-family: 'Tektur', cursive;
    font-size: 15px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color:#b5baba;
    color: #252622;
}
.btn-box:hover{
    border: 1px solid #252622;
    background-color:#e6e0e2;
    color: #252622;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.dark-btn{
    background-color: #16182C;
    color: #969c9c;
}

/**/

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container-box-meme{
    width: 70vh;
    height: 70vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    position: relative;
}
.text-meme{
    color: black;
    background-color: white;
    padding: 35px 0px;
    width: 100%;
    display: flex;
    overflow:hidden;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    position: static;
}
.img-meme{
    height: 83%;
    width: 100%;
    flex-grow: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}
.transparent-top{
    background-color: transparent;
    position: absolute;
    top: 0;
}
.transparent-bottom{
    background-color: transparent;
    position: absolute;
    bottom: 0;
}
.download{
    background-color: rgb(94, 132, 44);
    color: rgb(243, 243, 243);
    border: 1px solid white;
}

/**/

.container-format{
    flex-direction: column;
    width: 18%;
    background-color: #9c9a99;
    position: relative;
    overflow: auto;
}

/**/

.format{
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    width: 90%;
    height: 100%;
    text-align:start;
}
.dark-aside{
    background-color: #232538;
    color: #eae9e9
}
.hidden{
    display: none;
}

/**/

.btn-close{
    position: absolute;
    right: 0;
    width: 20%;
    border-radius: 5px;
    height: 40px;
    padding: 5px;
    font-size: 15px;
    border: 1px solid transparent;
    background-color: transparent;
    color: #2d2d2d;
}
.dark-btn-close{
    color: #eae9e9;
}
.text-description{
    font-size: 25px;
}

form{
    height: 95%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
input{
    width: 100%;
    min-height: 20px;
    margin: 5px 0px;
    background-color: #eae9e9;
    border: 1px solid #252622;
    border-radius: 10px;
    padding: 0px 5px;
}
textarea{
    width: 97%;
    min-height: 18px;
    background-color: #eae9e9;
    border: 1px solid #252622;
    border-radius: 8px;
    padding: 0px 5px;
}
input[type="text"]{
    height: 25px;
}
.selectors{
    display: flex;
    justify-content: space-evenly;
    margin: 8px 0px;
}
.box-change-color{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b0aaad;
    border-radius: 5px;
}
.input-color{
    width:40px;
    height: 30px;
    background-color: transparent;
    border: none;
}
.input-color::-webkit-color-swatch{
    border-radius: 100%;
    border: none;
}
.input-color::-webkit-color-swatch-wrapper{
    border-radius: 100%;
}
.color-name{
    font-size: 13px;
}
.filters{
    width: 45%;
}
select{
    width: 100%;
    height: 40px;
    padding: 0px 5px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color:#b0aaad;
    color: #2d2d2d;
}

/**/

.checkbox-container{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
input[type="checkbox"]{
    width: 10%;
    margin: 0px 5px;
}
.text-hidden{
    font-size: 14px;
}
.container-input-color{
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    margin: 8px 0px;
}
.btn-contour{
    margin: 0px 5px;
}
.container-format-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-number-font{
    width: 40%;
    height: 30px;
    margin: 0px 5px;
}
.container-btn-align{
    display: flex;
    width: 60%;
    flex-wrap: wrap;
}
.button-align{
    width: 28%;
    border-radius: 5px;
    height: 40px;
    padding: 0px 5px;
    margin: 3px;
    font-size: 15px;
    border: 1px solid transparent;
    background-color:#b0aaad;
    color: #2d2d2d;
}


/**/
@media (max-width: 1300px){
    .container-format{
        position: absolute;
        right: 0;
        width: 20%;
        height: 100vh;
    }
    .container-header-main{
        width: 100%;
    }
}
@media (max-width: 1200px){
    .container-format{
        width: 23%;
    }
}
@media (max-width: 1200px){
    .container-format{
        width: 25%;
    }
    .container-box-meme{
        width: 80vh;
        height: 80vh;
    }
}
@media (max-width: 900px){
    .container-format{
        width: 30%;
    }
}
@media (max-width: 800px){
    .container-format{
        width: 35%;
    }
}
@media (max-width: 700px){
    .container-format{
        width: 40%;
    }
}
@media (max-width: 600px){
    .container-format{
        width: 100%;
        align-items: center;
    }
}
@media (max-width: 600px){
    .container-box-meme{
        width: 90%;
        height: 400px;
    }
}
@media (max-width: 500px){
    .title{
        font-size: 30px;
    }
}
@media (max-width: 400px){
    .text-meme-description{
        font-size: 30px;
    }
}